{%  extends 'base.html'  %}

{% block content %}

<div class="card">
    <div class="card-header">
        {{ customer_record.first_name }} {{ customer_record.last_name }}
    </div>
    <div class="card-body">
      <p class="card-text">
        <strong></strong>{{ customer_record.email }}<br/>  
        <strong></strong>{{ customer_record.phone }}<br/>  
        <strong></strong>{{ customer_record.address }}<br/>  
        <strong></strong>{{ customer_record.city }}<br/>  
        <strong></strong>{{ customer_record.state }}<br/>  
        <strong></strong>{{ customer_record.zipcode}}<br/>  
        <strong></strong>{{ customer_record.created_at }}<br/>  
        <strong></strong>{{ customer_record.id }}<br/>  
      </p>
    </div>
  </div>




{% endblock %}